Benjamin Kodera <b.kodera@fu-berlin.de>
Christian Hofmann <myname@mynery.eu>
Christian Hofmann <myname@mynery.eu>                            <hofmann.christian@gmail.com>
Christopher Pockrandt <christopher.pockrandt@fu-berlin.de>
Christopher Pockrandt <christopher.pockrandt@fu-berlin.de>      <christopher.pockrandt@gmx.de>
Christopher Pockrandt <christopher.pockrandt@fu-berlin.de>      <cpockrandt@users.noreply.github.com>
Christoph Graebnitz <christoph.graebnitz@gmail.com>
Kelvin Glaß <kelvin.glass@fu-berlin.de>
Kelvin Glaß <kelvin.glass@fu-berlin.de>                         m273d15 <orion@galaxy.(none)>
Kelvin Glaß <kelvin.glass@fu-berlin.de>                         orion <orion@galaxy.(none)>
Kelvin Glaß <kelvin.glass@fu-berlin.de>                         orion <orion@localhost.localdomain>
Lyudmila Vaseva <vaseva@mi.fu-berlin.de>
<mail@nicolaslehmann.de>                                        Nicolas Lehmann <devel@lynx.(none)>
<mail@nicolaslehmann.de>                                        Nicolas Lehmann <xconnect@devel.(none)>
Michal Ajchman <m.ajchman@fu-berlin.de>
Michal Ajchman <m.ajchman@fu-berlin.de>                         <majchman@testobject.com>
Sascha Zinke <sz@mknd.net>
Sascha Zinke <sz@mknd.net>                                      <github@mknd.net>
Sascha Zinke <sz@mknd.net>                                      <szinke@zedat.fu-berlin.de>
<tilman+git@ax86.net>                                           <t.blumenbach@fu-berlin.de>
Tobias Kranz <tkranz@zedat.fu-berlin.de>                        tobias kranz <tobias@home>
